# Local environment variables (used for secrets)
/environment/*.local.env

# Important secrets
/secrets.txt

# Log files
/logs/

# Mitmproxy CA certificate
/console-files/mitmproxy-ca-cert.pem

# Console BOSS keys
/console-files/aes_keys.txt
/console-files/boss_keys.bin

# Backups
/backups/
