# Local environment variables (used for secrets)
.env
/environment/*.local.env

# Important secrets
/secrets.txt

# Mitmproxy CA certificate
/console-files/mitmproxy-ca-cert.pem

# Console BOSS keys
/console-files/aes_keys.txt
/console-files/boss_keys.bin

# SSSL certificates
/console-files/CACERT_NINTENDO_CA_G3.der
/console-files/cert-chain.pem
/console-files/ssl-cert-private-key.pem

# Backups
/backups/
