[submodule "repos/mitmproxy-pretendo"]
path = repos/mitmproxy-pretendo
url = https://github.com/MatthewL246/mitmproxy-pretendo.git
branch = master

[submodule "repos/Inkay"]
path = repos/Inkay
url = https://github.com/PretendoNetwork/Inkay.git
branch = main
ignore = dirty

[submodule "repos/account"]
path = repos/account
url = https://github.com/PretendoNetwork/account.git
branch = dev
ignore = dirty

[submodule "repos/website"]
path = repos/website
url = https://github.com/PretendoNetwork/website.git
branch = dev
ignore = dirty

[submodule "repos/friends"]
path = repos/friends
url = https://github.com/PretendoNetwork/friends.git
branch = nex-go-rewrite
ignore = dirty

[submodule "repos/miiverse-api"]
path = repos/miiverse-api
url = https://github.com/PretendoNetwork/miiverse-api.git
branch = dev
ignore = dirty

[submodule "repos/juxtaposition-ui"]
path = repos/juxtaposition-ui
url = https://github.com/PretendoNetwork/juxtaposition-ui.git
branch = dev
ignore = dirty

[submodule "repos/wiiu-chat-authentication"]
path = repos/wiiu-chat-authentication
url = https://github.com/PretendoNetwork/wiiu-chat-authentication.git
branch = master
ignore = dirty

[submodule "repos/wiiu-chat-secure"]
path = repos/wiiu-chat-secure
url = https://github.com/PretendoNetwork/wiiu-chat-secure.git
branch = master
ignore = dirty

[submodule "repos/BOSS"]
path = repos/BOSS
url = https://github.com/PretendoNetwork/BOSS
branch = master
ignore = dirty

[submodule "repos/super-mario-maker"]
path = repos/super-mario-maker
url = https://github.com/PretendoNetwork/super-mario-maker.git
branch = master
ignore = dirty

[submodule "repos/SSSL"]
path = repos/SSSL
url = https://github.com/PretendoNetwork/SSSL.git
branch = master
ignore = dirty
[submodule "repos/SSSL-DNS"]
path = repos/SSSL-DNS
url = https://github.com/PretendoNetwork/SSSL-DNS.git
branch = master
ignore = dirty

[submodule "repos/splatoon"]
	path = repos/splatoon
	url = https://github.com/ashquarky/splatoon